In [1]:
import pandas as pd
import csv
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px
import datetime as dt

In [24]:
sales = pd.read_csv('OutputHistoricalsales.csv', dtype='unicode')

In [25]:
sales.dtypes

LOCNCODE    object
CUSTNMBR    object
CUSTNAME    object
DOCAMNT     object
DOCDATE     object
DOCID       object
SOPTYPE     object
Month       object
Year        object
dtype: object

In [30]:
sales.head()

,LOCNCODE,CUSTNMBR,CUSTNAME,DOCAMNT,DOCDATE,DOCID,Month,Year
0,OSP,2125,"DIRECT MARKETING SERVICES, INC",98,2006-10-09,STANDARDEDI,10,2006
1,OSP,1025,"OFFICE DEPOT, INC. VW",398.8,2006-10-09,STANDARDEDI,10,2006
2,OSP,2125,"DIRECT MARKETING SERVICES, INC",56.67,2006-10-09,STANDARDEDI,10,2006
3,OSP,3306,"STAPLES INC., VENDOR 008981",204,2006-10-10,STANDARDEDI,10,2006
4,OSP,3306,"STAPLES INC., VENDOR 008981",745,2006-10-10,STANDARDEDI,10,2006

In [31]:
sales.shape

(3909509, 8)

In [32]:
sales.drop(["SOPTYPE"], inplace=True, axis=1)

KeyError: "['SOPTYPE'] not found in axis"

In [33]:
sales.Year.unique()

array(['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022'], dtype=object)

In [34]:
sales.LOCNCODE.unique()

array(['OSP', 'ELM', 'NJ01', 'KY10', 'OBOX', 'KY01', 'PARTS', 'TX01',
       'RETURNS', 'TXOFD', 'WOFD', 'TX99', 'RFECDC'], dtype=object)

In [35]:
sales.head()

,LOCNCODE,CUSTNMBR,CUSTNAME,DOCAMNT,DOCDATE,DOCID,Month,Year
0,OSP,2125,"DIRECT MARKETING SERVICES, INC",98,2006-10-09,STANDARDEDI,10,2006
1,OSP,1025,"OFFICE DEPOT, INC. VW",398.8,2006-10-09,STANDARDEDI,10,2006
2,OSP,2125,"DIRECT MARKETING SERVICES, INC",56.67,2006-10-09,STANDARDEDI,10,2006
3,OSP,3306,"STAPLES INC., VENDOR 008981",204,2006-10-10,STANDARDEDI,10,2006
4,OSP,3306,"STAPLES INC., VENDOR 008981",745,2006-10-10,STANDARDEDI,10,2006

In [36]:
#sales['MONTH']=sales['DOCDATE'].str[0:2] # Grab first two char.
#sales['MONTH']=sales['MONTH'].astype('int32') # data type change

In [37]:
#Check for null values

null_counts = sales.isnull().sum()
null_counts[null_counts > 0].sort_values(ascending=False)

Series([], dtype: int64)

In [189]:
sales.dtypes

LOCNCODE     object
CUSTNMBR     object
CUSTNAME     object
DOCAMNT     float64
DOCDATE      object
DOCID        object
Month         int64
Year          int64
dtype: object

In [38]:
sales.DOCDATE = pd.to_datetime(sales.DOCDATE)

In [39]:
#data.sort_values("Column", inplace = True)
  
# making boolean series for a team name
filter = sales["LOCNCODE"]=="Returns"
  
# filtering data
sales.where(filter, inplace = True)

TypeError: Cannot do inplace boolean setting on mixed-types with a non np.nan value

In [ ]:
#sales['Year']=pd.DatetimeIndex(sales['DATE']).year
#sales['Month']=pd.DatetimeIndex(sales['DATE']).month

In [40]:
sales

,LOCNCODE,CUSTNMBR,CUSTNAME,DOCAMNT,DOCDATE,DOCID,Month,Year
0,OSP,2125,"DIRECT MARKETING SERVICES, INC",98,2006-10-09,STANDARDEDI,10,2006
1,OSP,1025,"OFFICE DEPOT, INC. VW",398.8,2006-10-09,STANDARDEDI,10,2006
2,OSP,2125,"DIRECT MARKETING SERVICES, INC",56.67,2006-10-09,STANDARDEDI,10,2006
3,OSP,3306,"STAPLES INC., VENDOR 008981",204,2006-10-10,STANDARDEDI,10,2006
4,OSP,3306,"STAPLES INC., VENDOR 008981",745,2006-10-10,STANDARDEDI,10,2006
...,...,...,...,...,...,...,...,...
3909504,ELM,9348,CYCON OFFICE SYSTEMS,136,2018-05-23,STANDARD,5,2018
3909505,ELM,10839,NEVADA BUSINESS FURNITURE,659.58,2018-05-23,STANDARD,5,2018
3909506,ELM,10839,NEVADA BUSINESS FURNITURE,837.19,2018-05-23,STANDARD,5,2018
3909507,ELM,12244,SPECIALTY RETAILERS INC/STAGE STORES INC,2376,2018-05-23,STANDARD,5,2018
3909508,OSP,9844,NORTHERN BUSINESS PRODUCTS,859.18,2018-05-23,STANDARD,5,2018

In [41]:
sales2=sales[['DOCDATE','DOCID','DOCAMNT']]
saleshist=sales2.groupby(['DOCDATE']).sum('DOCAMNT')
#saleshist=sales.groupby(['Year','Month']).sum('DOCAMNT')

In [42]:

pd.options.display.max_rows = 999 
saleshist

Empty DataFrame
Columns: []
Index: [2006-09-27 00:00:00, 2006-09-29 00:00:00, 2006-10-06 00:00:00, 2006-10-09 00:00:00, 2006-10-10 00:00:00, 2006-10-11 00:00:00, 2006-10-12 00:00:00, 2006-10-13 00:00:00, 2006-10-15 00:00:00, 2006-10-16 00:00:00, 2006-10-17 00:00:00, 2006-10-18 00:00:00, 2006-10-19 00:00:00, 2006-10-20 00:00:00, 2006-10-21 00:00:00, 2006-10-23 00:00:00, 2006-10-24 00:00:00, 2006-10-25 00:00:00, 2006-10-26 00:00:00, 2006-10-27 00:00:00, 2006-10-28 00:00:00, 2006-10-29 00:00:00, 2006-10-30 00:00:00, 2006-10-31 00:00:00, 2006-11-01 00:00:00, 2006-11-02 00:00:00, 2006-11-03 00:00:00, 2006-11-06 00:00:00, 2006-11-07 00:00:00, 2006-11-08 00:00:00, 2006-11-09 00:00:00, 2006-11-10 00:00:00, 2006-11-11 00:00:00, 2006-11-13 00:00:00, 2006-11-14 00:00:00, 2006-11-15 00:00:00, 2006-11-16 00:00:00, 2006-11-17 00:00:00, 2006-11-20 00:00:00, 2006-11-21 00:00:00, 2006-11-22 00:00:00, 2006-11-27 00:00:00, 2006-11-28 00:00:00, 2006-11-29 00:00:00, 2006-11-30 00:00:00, 2006-12-06 00:00:00, 2006-12-07 00:00:00, 2006-12-08 00:00:00, 2006-12-11 00:00:00, 2006-12-12 00:00:00, 2006-12-13 00:00:00, 2006-12-14 00:00:00, 2006-12-15 00:00:00, 2006-12-18 00:00:00, 2006-12-19 00:00:00, 2006-12-20 00:00:00, 2006-12-21 00:00:00, 2006-12-22 00:00:00, 2006-12-26 00:00:00, 2006-12-27 00:00:00, 2006-12-28 00:00:00, 2006-12-29 00:00:00, 2006-12-30 00:00:00, 2007-01-02 00:00:00, 2007-01-03 00:00:00, 2007-01-04 00:00:00, 2007-01-05 00:00:00, 2007-01-08 00:00:00, 2007-01-09 00:00:00, 2007-01-10 00:00:00, 2007-01-11 00:00:00, 2007-01-12 00:00:00, 2007-01-15 00:00:00, 2007-01-16 00:00:00, 2007-01-17 00:00:00, 2007-01-18 00:00:00, 2007-01-19 00:00:00, 2007-01-22 00:00:00, 2007-01-23 00:00:00, 2007-01-24 00:00:00, 2007-01-25 00:00:00, 2007-01-26 00:00:00, 2007-01-29 00:00:00, 2007-01-30 00:00:00, 2007-01-31 00:00:00, 2007-02-01 00:00:00, 2007-02-02 00:00:00, 2007-02-05 00:00:00, 2007-02-06 00:00:00, 2007-02-07 00:00:00, 2007-02-08 00:00:00, 2007-02-09 00:00:00, 2007-02-12 00:00:00, 2007-02-13 00:00:00, 2007-02-14 00:00:00, 2007-02-15 00:00:00, 2007-02-16 00:00:00, 2007-02-19 00:00:00, 2007-02-20 00:00:00, 2007-02-21 00:00:00, ...]

[4283 rows x 0 columns]

In [43]:
sales['DOCDATE'] = pd.to_datetime(sales['DOCDATE'])
df1 = sales.groupby(sales['DOCDATE'].dt.to_period('M')).sum()
df1 = df1.resample('M').asfreq().fillna(0)

C:\Users\t200038\AppData\Local\Temp\ipykernel_25020\1377422391.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.add is deprecated. In a future version, a TypeError will be raised. Before calling .add, select only columns which should be valid for the function.
  df1 = sales.groupby(sales['DOCDATE'].dt.to_period('M')).sum()

In [44]:
df1.plot(kind='bar')

TypeError: no numeric data to plot

In [ ]:
saleshist.plot(kind='bar')

In [143]:
#  salesViz=sales.groupby(sales['DATE'].dt.strftime('%B %Y'))['DOCAMNT'].sum().sort_values()

#  salesViz

DATE
February 2009     1245153.40
January 2014      1333093.36
November 2008     1395588.85
April 2009        1423487.78
May 2009          1427641.42
                     ...
October 2013      4647793.99
November 2013     4687221.17
February 2015     4729316.63
September 2014    4784492.11
October 2014      5915793.18
Name: DOCAMNT, Length: 99, dtype: float64

In [131]:
#sales['MONTH']=sales['DOCDATE'].str[0:2] # Grab first two char.
# sales['MONTH']=sales['MONTH'].astype('int32') # data type change

In [116]:
sales.head()

,LOCNCODE,CUSTNMBR,CUSTNAME,DOCAMNT,DOCDATE,DOCID,MONTH
0,OSP,2125,"DIRECT MARKETING SERVICES, INC",98.00,2006-10-09,STANDARDEDI,10
1,OSP,1025,"OFFICE DEPOT, INC. VW",398.80,2006-10-09,STANDARDEDI,10
2,OSP,2125,"DIRECT MARKETING SERVICES, INC",56.67,2006-10-09,STANDARDEDI,10
3,OSP,3306,"STAPLES INC., VENDOR 008981",204.00,2006-10-10,STANDARDEDI,10
4,OSP,3306,"STAPLES INC., VENDOR 008981",745.00,2006-10-10,STANDARDEDI,10

In [159]:
sales.groupby('Month','Year').sum('DOCAMNT')

ValueError: No axis named Year for object type DataFrame

In [196]:
months = range(1,317)
results = saleshist
plt.bar(months, results[2],color='cornflowerblue')
plt.show()

KeyError: 2